<!-- 這裡負責顯示首頁 -->

{% load static %}
<!-- 
    1、Django模板系統中的一個指令，用於載入靜態文件，靜態文件通常存儲在名為"static"的目錄中。    
    2、使用{% load static %}的目的：可以使用靜態文件的路徑，使得在網頁中能夠正確地引用這些靜態文件，例如CSS文件、JavaScript文件、圖像等。
    靜態文件：指不會在每次請求中改變的文件，例如圖像、CSS樣式表、JavaScript腳本等。與之相對的是動態文件，它們的內容可能會根據每次請求或用戶的操作而改變，例如動態生成的HTML內容、用戶提交的表單數據等。
-->

    <!DOCTYPE html>
    <!-- HTML5的文檔聲明，表明這是一個HTML5文檔。 -->

        <html lang="en">
        <!-- 設置了文檔的語言為英文。 -->

            <head>
                <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
                <!-- 
                    meta標籤是HTML中的一種標籤，用於提供關於HTML文檔的中繼資料（metadata）。metadata通常不會直接顯示在網頁上，但對於瀏覽器、搜索引擎和其他Web服務來說是很重要的。 
                    詳細tag說明，可參考 meta_tag.txt
                -->

                <!-- 
                    1、用於設置視口的大小和初始縮放比例，以便在不同設備上呈現更好的效果。
                    2、viewport：用於設置瀏覽器的視口（viewport），即設備上顯示網頁的可見區域。
                    3、content="width=device-width：網頁的寬度等於設備的寬度。
                    4、initial-scale=1.0：初始縮放比例為1.0。
                -->

                <meta charset="UTF-8">
                <!-- charset：指定文檔的字符編碼。表示文檔使用UTF-8字符編碼，可以確保各種語言字符能夠正確顯示。-->
                
                <title>Welcome to the Interview Platform</title>
                <link rel="stylesheet" type="text/css" href="{% static 'core/home.css' %}"/>
                <!-- 
                    1、rel="stylesheet"表示被鏈接的資源是CSS。
                    2、type="text/css"表示資源的媒體類型(MIME)是CSS。
                    3、{% static 'core/home.css' %}是Django模板系統中的一個指令，用於引用靜態文件。這裡引入了名為"home.css"的CSS文件。
                -->

            </head>

            <body>
                <h1>"Welcome to the Interview Platform"</h1>
                <div class="navigation">
                <!-- 
                    navigation 是導航的意思喔~~ 
                    我們連上網路、進到某個網站的動作或過程就可以稱為navigation
                -->

                    <a href="{% url 'register' %}">👉Register</a>
                    <!-- 
                        1、<a>：用於創建一個超鏈接。
                        2、{% url 'register' %}：Django模板語法中的一個指令，用於反向解析URL。這個指令會根據URL配置中名稱為register的URL模式生成對應的URL。
                    -->

                    <a href="{% url 'login' %}">👉Login</a>
                    
                    <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">👉Admin</a>
                    <!-- 
                        <a href="http://127.0.0.1:8000/admin/login/?next=/admin/">👉Admin</a>：創建一個指向Django管理後台的超鏈接。
                    -->

                </div>

                <div class="content">
                    <p>✨Prepare for your interviews or practice with automated feedback.✨</p>
                    <!-- <p>：用於定義段落。它是一個塊級元素，用來包含一段文本。 -->

                </div>

            </body>

        </html>